body {
}


header {
    margin: 0 auto;
    width: auto;
    height: auto;
    background-color: none;
    padding: 10px;
}

header h1 {
    color: white;
    float: left;
}

nav {
    float: right;
}

main {
    margin: 0 auto;
    width: auto;
    background-color: white;
    padding: 10px;
    text-align: center;
}

footer {
    margin: 0 auto;
    width: auto;
    height:auto;
    background-color: none;
    padding: 10px;
    text-align: center;
}

